body{
  background-color: hsl(214, 17%, 92%);
}

.bg-image{
  display: none;
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 4.375rem;
  gap: 2.5rem;
  margin-bottom:3.75rem;
}

.Daniel,
.Jonathan,
.Jeanette,
.Patrick,
.Kira{
  border-radius: 0.3125rem;
  width: 19.375rem;
}

.Daniel{
  background-color: hsl(263, 55%, 52%);
  height: 25.9375rem;
}

.Jonathan{
  background-color: hsl(217, 19%, 35%);
  height: 14.375rem;
}

.Jeanette{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0.3125rem 1.25rem rgba(0,0,0, 0.1);
  height: 13.75rem;
}

.Patrick{
  background-color: hsl(219, 29%, 14%);
  height: 24.0625rem;
}

.Kira{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0.3125rem 1.25rem rgba(0,0,0, 0.1);
  height: 28.125rem;

}
.box-profile{
  display: flex;
}

.profile{
  margin-top: 1.875rem;
  margin-left: 1.25rem;
}

.profile-picture{
  border: solid 0.125rem hsl(264, 82%, 80%);
  border-radius: 50%;
  width: 1.5625rem;
}

.Jonathan .profile-picture,
.Jeanette .profile-picture,
.Kira .profile-picture {
  border: none;
}

.profile-name{
  margin-left: 0.9375rem;
  margin-bottom: 0;
  margin-top: 1.875rem;
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(214, 17%, 92%);

}

.status{
  margin-left: 0.875rem;
  margin-top: 0;
  font-size: 0.6875rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  color: hsl(214, 17%, 92%);

}

.subject{
  width: 13.75rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(0, 0%, 81%);
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  margin-left: 1.25rem;
}

.description{
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(0, 0%, 81%);
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 0.8125rem; 
  margin-left: 1.25rem;
  width: 15.625rem; 
}

.Jeanette .profile-name,
.Jeanette .status,
.Jeanette .description,
.Kira .profile-name,
.Kira .status,
.Kira .description{
  color:  hsl(224, 10%, 45%);
}

.Jeanette .subject,
.Kira .subject{
  color:  hsl(217, 19%, 35%);
}


@media (min-width: 48rem){

  .bg-image{
    display: block;
    position: absolute;
    right: 2.625rem;
    top: 0;   
    
  } 

  .background{
    width: 5rem;
  }
   .Container{
    margin: 3.125rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    width: 50vw;
    gap: 1.25rem;
  }
  

  .box-profile{
  margin-top: 0;
}

.profile,
.profile-name{
  margin-top: 1.25rem;
}

.Daniel{
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-left: 12.5rem; */
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 25rem;
  height: 13.125rem;
}



.Daniel .subject{
  width: 23.125rem;
  font-size: 0.9375rem;
  position: relative;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0.625rem;
}

.Daniel .description,
.Patrick .description{
  margin-top: 0;
  width: 23.4375rem;
  font-size: 0.625rem;
}



.Jonathan{
  grid-column: 3;
  grid-row: 1;
  width: 13.4375rem;
  height: 14.6875rem;
}

.Jonathan .subject{
  width: 11.25rem;
  margin-bottom: 0;
}

.Jonathan .description,
.Jeanette .description{
  width: 9.375rem;
  font-size: 0.625rem;
  line-height: 1.3;
  margin-top: 0.9375rem;
}

.Jeanette{
  /* margin-left: 12.5rem; */
  grid-column: 1;
  grid-row: 2;
  width: 13.4375rem;
  height: 13.75rem;
}

.Jeanette .subject{
  width: 10rem;
  margin-bottom: 0;
}

.Patrick{
  grid-column: 2 / span 3;
  grid-row: 2;
  width: 25rem;
  height: 12.1875rem;
}

.Patrick .subject{
  width: 23.75rem;
  font-size: 0.9375rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
}

.Kira{
  /* margin-right: 12.5rem; */
  grid-column: 4;
  grid-row: 1 / span 2;
  width: 13.75rem;
  height: 31.5625rem;
}

.Kira .description{
  width: 10.3125rem;
  font-size: 0.6875rem;
  line-height: 1.4;
  margin-top: 0.9375rem;
}

}