body{
  background-color: hsl(0, 0%, 100%);
}

.bg-image{
  display: none;
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 70px;
  gap: 40px;
  margin-bottom:60px;
}

.Daniel,
.Jonathan,
.Jeanette,
.Patrick,
.Kira{
  border-radius: 5px;
  width: 310px;
}

.Daniel{
  background-color: hsl(263, 55%, 52%);
  height: 415px;
}

.Jonathan{
  background-color: hsl(217, 19%, 35%);
  height: 230px;
}

.Jeanette{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 5px 20px rgba(0,0,0, 0.1);
  height: 220px;
}

.Patrick{
  background-color: hsl(219, 29%, 14%);
  height: 385px;
}

.Kira{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 5px 20px rgba(0,0,0, 0.1);
  height: 450px;

}
.box-profile{
  display: flex;
}

.profile{
  margin-top: 30px;
  margin-left: 20px;
}

.profile-picture{
  border: solid 2px hsl(264, 82%, 80%);
  border-radius: 50%;
  width: 25px;
}

.Jonathan .profile-picture,
.Jeanette .profile-picture,
.Kira .profile-picture {
  border: none;
}

.profile-name{
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(214, 17%, 92%);

}

.status{
  margin-left: 14px;
  margin-top: 0;
  font-size: 11px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  color: hsl(214, 17%, 92%);

}

.subject{
  width: 220px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(0, 0%, 81%);
  font-weight: 600;
  margin-top: 8px;
  font-size: 18px;
  margin-left: 20px;
}

.description{
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(0, 0%, 81%);
  font-weight: 600;
  margin-top: 8px;
  font-size: 13px; 
  margin-left: 20px;
  width: 250px; 
}

.Jeanette .profile-name,
.Jeanette .status,
.Jeanette .description,
.Kira .profile-name,
.Kira .status,
.Kira .description{
  color:  hsl(224, 10%, 45%);
}

.Jeanette .subject,
.Kira .subject{
  color:  hsl(217, 19%, 35%);
}


@media (min-width: 768px){

  .bg-image{
    display: block;
    position: absolute;
    right: 50px;
    top: 0;   
    
  } 

  .background{
    width: 80px;
  }
   .Container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

.Daniel{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 500px;
  height: 250px;
}

.Jonathan{
  grid-column: 3;
  grid-row: 1;
}

.Jeanette{
  grid-column: 1;
  grid-row: 2;
}

.Patrick{
  grid-column: 2;
  grid-row: 2;
}

.Kira{
  grid-column: 4;
  grid-row: 1 / span 2;
}

.Daniel .subject {
  width: 450px;
  font-size: 13px;
  position: relative;
  z-index: 2;
}

.Daniel .description{
  width: 410px;
}

.Daniel .box-profile{
  margin-top: 0;
}



/* .Daniel .profile,
.Daniel .profile-name{
  margin-top: 0;
} */

}